table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: none;
}
output {
  color: green;
}
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
table {
  margin-left:auto; 
  margin-right:auto;
}
div#lista {
  display:table;
  margin: auto;
}
output {
  display: table;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
p {
  text-align: center;
}